<h1>Change Password</h1>
<h2><%=@user.email%></h2>

<form action="<%= user_url(@user) %>" method="POST">
  <%= csrf_token %>
  <input type="hidden" name="_method" value="PATCH">

  <label>
    Original Password
    <input type="password" name="user[password]">
  <label>
    New Password
    <input type="password" name="user[new_password]">
  </label>

  <input type="submit" value="Change Password">
  <br>
</form>