<h1><%=current_user.email%>'s Feed</h1>

<% @posts.each do |post| %>
  <h4><%= post.user.email %> wrote:</h4>
  <%= post.body %><br>
  with links:<br>
  <% post.links.each do |link| %>
    <%= link_to link.title, link.url %>
  <% end %>
<% end %>