<h1>Your User Page</h1>

<h2>Your Circles</h2>
<%= render "circles/show_circles" %>

<h3>Your Posts</h3>
  <% @user.owned_posts.each do |post| %>
    <%= link_to post.body, post_url(post) %>
    <%= link_to "Edit Post", edit_post_url(post) %>
  <% end %>

<h3>Create a Post</h3>
<%= link_to "New Post", new_user_post_url(@user)%>