<h1>Reset Password</h1>
<form action="<%=reset_url%>" method="POST">
  <%= csrf_token %>

  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="auth_token" value="<%=params[:auth_token]%>">

  <label>
    New Password:
    <input type="password" name="password">
  </label>
  <input type="submit" value="Yes">
</form>