<h1>Reset Password</h1>

<form action="<%= reset_url %>" method="POST">
  <%= csrf_token %>

  <label>
    E-mail Address
    <input type="text" name="user[email]" value="<%=@user.email%>">
  </label>

  <input type="submit" value="Reset">
  <br>
</form>