<% action = (@post.persisted? ? post_url(@post) : posts_url) %>
<% title = (@post.persisted? ? "Edit Post" : "Create Post")%>

<form action="<%= action %>" method="POST">
  <%= csrf_token %>
  <% if @post.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <input type="hidden" name="post[user_id]" value="<%= @user.id %>">

  <input type="textarea" name="post[body]" value="<%= @post.body %>">

  <% @user.owned_circles.each_with_index do |circle, i| %>
    <label><%= circle.name %>
    <input type="checkbox" name="post[circle_ids][]" value="<%=circle.id%>"
           <%= @post.circle_ids.include?(circle.id) ? 'checked' : '' %> >
    </label>
  <% end %>

  <% @post.links.each_with_index do |link, i| %>
    <p>
    <label>
      Link Title
      <input type="text"
         name="links[<%=i%>][title]"
         value="<%=@post.links[i].title%>">
    </label>
    <label>
      Link URL
      <input type="text"
             name="links[<%=i%>][url]"
             value="<%=@post.links[i].url%>"
    </label>
    </p>
  <% end %>

  <%= "<!--".html_safe if params[:controller] == "users"%>
  <input type="submit" value="<%= title %>">
  <%= "-->".html_safe if params[:controller] == "users"%>
</form>