<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <body>
    <h1>Reset Your Password</h1>
    <p>
      A reset request has been issued for this user on FriendCircleApp.
      If you issued this request, please <%= link_to "visit this link", @url %> to reset your password.
      If you did not issue this request, no action is necessary.
    </p>
  </body>
</head>
</html>