<% action = (params[:action] == 'new' ? user_circles_url : user_circle_url)%>
<% title = (params[:action] == "new" ? "New Circle" : "Edit Circle")%>

<h1><%= title %></h1>

<form action="<%= action %>" method="POST">
  <%= csrf_token %>
  <%= "<input type=\"hidden\" name=\"_method\" value=\"PATCH\"".html_safe if params[:action] == "edit" || params[:action] == "update" %>

  <input type="hidden" name="circle[owner_id]" value="<%=@user.id%>">
  <input type="hidden" name="circle[user_ids][]" value="" ">

  <label>
    Name
    <input type="text" name="circle[name]" value="<%=@circle.name%>">
  </label>

  <p>
  <% User.all.each_with_index do |user, i| %>
  <label>
    <%= user.email %>
    <input type="checkbox" name="circle[user_ids][]" value="<%=user.id%>"
           <%= @circle.user_ids.include?(user.id) ? 'checked' : '' %> >
  </label>
  <% end %>
  </p>

  <p>
  <input type="submit" value="<%= title %>">
  </p>
</form>