<% @user.owned_circles.each do |circle| %>
  <%= link_to circle.name, user_circle_url(@user, circle)%>
  <%= link_to "(Modify This Circle)", edit_user_circle_url(@user, circle)%><br>
<% end %>

<br>
<%= link_to "Create a New Circle", new_user_circle_url(@user)%>
