<h1>New Circle</h1>

<form action="<%= user_circles_url %>" method="POST">
  <%= csrf_token %>
  <input type="hidden" name="circle[owner_id]" value="<%=@user.id%>">

  <label>
    Name
    <input type="text" name="circle[name]" value="<%=@circle.name%>">
  </label>

  <p>
  <% User.all.each_with_index do |user, i| %>
  <label>
    <%= user.email %>
    <input type="checkbox" name="circle[user_ids][]" value="<%=user.id%>">
  </label>
  <% end %>
  </p>

  <p>
  <input type="submit" value="Create Circle">
  </p>
</form>