<h1>Placeholder Circle Show template is go</h1>
<br><br>
Circle Members:
<% @circle.users.each do |user| %>
  <%= user.email %><br>
<% end %>
<br>
<%= link_to "Edit This Circle", edit_user_circle_url(current_user, @circle)%>