<!DOCTYPE html>
<html>
<head>
  <title>FriendCircle</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    Welcome, <%= current_user.email%>!
    <%= button_to "Sign Out", session_url, method: :delete %>
    <%= link_to "Change Password", edit_user_url(current_user)%><br>
    <%= link_to "Back to Your Home Page", user_url(current_user)%><br>
    <%= link_to "Back to Your Feed", user_feed_url(current_user)%><br>
  <% else %>
    <%= link_to "Sign Up", new_user_url%>
    <%= link_to "Log In", new_session_url %>
  <% end %>

  <% if flash[:errors]%>
    <%= flash[:errors].to_json%>
  <% end %>

  <% if flash[:notice]%>
    <%= flash[:notice].to_json%>
  <% end %>

<%= yield %>

</body>
</html>
